{{#> layout}}
{{#*inline "maincontents"}}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pending</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="row">
    <div class="col-12">
        <div class="d-flex justify-content-start">
            <div style="position:relative;">
                <div style="width:380px;  height:40px; border-radius: 30px;  border: 1px solid #D9D9D9;">
                    <input type="text"
                        style="height: 20px;width:320px position:relative;right:10px;position: relative;left: 10px;width: 320px;top: 8px;outline: none;border: none;"
                        placeholder="Search Partners ID, Name, Etc">
                </div>
                <div style="position:absolute;top: 9px;right: 18px;color: #C1C1C1;">
                    <i class="fa fa-search"></i>
                </div>


            </div>

            <div class="ml-3 mt-2">
                <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4.23613 7.60417V0.833333C4.23613 0.61232 4.14701 0.400358 3.98837 0.244078C3.82973 0.0877975 3.61458 0 3.39023 0C3.16588 0 2.95073 0.0877975 2.79209 0.244078C2.63345 0.400358 2.54433 0.61232 2.54433 0.833333V7.60417C1.81651 7.78775 1.1714 8.20475 0.710727 8.78942C0.250049 9.3741 0 10.0932 0 10.8333C0 11.5735 0.250049 12.2926 0.710727 12.8772C1.1714 13.4619 1.81651 13.8789 2.54433 14.0625V19.1667C2.54433 19.3877 2.63345 19.5996 2.79209 19.7559C2.95073 19.9122 3.16588 20 3.39023 20C3.61458 20 3.82973 19.9122 3.98837 19.7559C4.14701 19.5996 4.23613 19.3877 4.23613 19.1667V14.0625C4.96395 13.8789 5.60905 13.4619 6.06973 12.8772C6.53041 12.2926 6.78046 11.5735 6.78046 10.8333C6.78046 10.0932 6.53041 9.3741 6.06973 8.78942C5.60905 8.20475 4.96395 7.78775 4.23613 7.60417ZM3.39023 12.5C3.05562 12.5 2.72853 12.4023 2.45032 12.2191C2.1721 12.036 1.95526 11.7757 1.82721 11.4711C1.69916 11.1666 1.66566 10.8315 1.73094 10.5082C1.79622 10.1849 1.95735 9.88791 2.19395 9.65482C2.43055 9.42173 2.732 9.263 3.06018 9.19869C3.38835 9.13438 3.72852 9.16739 4.03765 9.29353C4.34679 9.41968 4.61101 9.6333 4.79691 9.90738C4.9828 10.1815 5.08203 10.5037 5.08203 10.8333C5.08203 11.2754 4.90378 11.6993 4.58651 12.0118C4.26924 12.3244 3.83892 12.5 3.39023 12.5ZM11.8492 2.60417V0.833333C11.8492 0.61232 11.7601 0.400358 11.6015 0.244078C11.4428 0.0877975 11.2277 0 11.0033 0C10.779 0 10.5638 0.0877975 10.4052 0.244078C10.2465 0.400358 10.1574 0.61232 10.1574 0.833333V2.60417C9.42959 2.78775 8.78449 3.20475 8.32382 3.78942C7.86314 4.3741 7.61309 5.09319 7.61309 5.83333C7.61309 6.57347 7.86314 7.29257 8.32382 7.87724C8.78449 8.46192 9.42959 8.87892 10.1574 9.0625V19.1667C10.1574 19.3877 10.2465 19.5996 10.4052 19.7559C10.5638 19.9122 10.779 20 11.0033 20C11.2277 20 11.4428 19.9122 11.6015 19.7559C11.7601 19.5996 11.8492 19.3877 11.8492 19.1667V9.0625C12.577 8.87892 13.2221 8.46192 13.6828 7.87724C14.1435 7.29257 14.3935 6.57347 14.3935 5.83333C14.3935 5.09319 14.1435 4.3741 13.6828 3.78942C13.2221 3.20475 12.577 2.78775 11.8492 2.60417ZM11.0033 7.5C10.6687 7.5 10.3416 7.40225 10.0634 7.21912C9.78519 7.03598 9.56835 6.77568 9.4403 6.47114C9.31225 6.16659 9.27875 5.83148 9.34403 5.50818C9.40931 5.18488 9.57043 4.88791 9.80704 4.65482C10.0436 4.42173 10.3451 4.263 10.6733 4.19869C11.0014 4.13438 11.3416 4.16739 11.6507 4.29353C11.9599 4.41968 12.2241 4.6333 12.41 4.90738C12.5959 5.18147 12.6951 5.5037 12.6951 5.83333C12.6951 6.27536 12.5169 6.69928 12.1996 7.01184C11.8823 7.3244 11.452 7.5 11.0033 7.5ZM22 14.1667C21.9993 13.4277 21.7498 12.7098 21.2906 12.1254C20.8314 11.5411 20.1884 11.1233 19.4623 10.9375V0.833333C19.4623 0.61232 19.3732 0.400358 19.2145 0.244078C19.0559 0.0877975 18.8408 0 18.6164 0C18.3921 0 18.1769 0.0877975 18.0183 0.244078C17.8596 0.400358 17.7705 0.61232 17.7705 0.833333V10.9375C17.0427 11.1211 16.3976 11.5381 15.9369 12.1228C15.4762 12.7074 15.2262 13.4265 15.2262 14.1667C15.2262 14.9068 15.4762 15.6259 15.9369 16.2106C16.3976 16.7952 17.0427 17.2122 17.7705 17.3958V19.1667C17.7705 19.3877 17.8596 19.5996 18.0183 19.7559C18.1769 19.9122 18.3921 20 18.6164 20C18.8408 20 19.0559 19.9122 19.2145 19.7559C19.3732 19.5996 19.4623 19.3877 19.4623 19.1667V17.3958C20.1884 17.21 20.8314 16.7923 21.2906 16.2079C21.7498 15.6236 21.9993 14.9057 22 14.1667ZM18.6164 15.8333C18.2818 15.8333 17.9547 15.7356 17.6765 15.5524C17.3983 15.3693 17.1814 15.109 17.0534 14.8045C16.9253 14.4999 16.8918 14.1648 16.9571 13.8415C17.0224 13.5182 17.1835 13.2212 17.4201 12.9882C17.6567 12.7551 17.9582 12.5963 18.2864 12.532C18.6145 12.4677 18.9547 12.5007 19.2638 12.6269C19.573 12.753 19.8372 12.9666 20.0231 13.2407C20.209 13.5148 20.3082 13.837 20.3082 14.1667C20.3082 14.6087 20.13 15.0326 19.8127 15.3452C19.4954 15.6577 19.0651 15.8333 18.6164 15.8333Z"
                        fill="#333333"></path>
                </svg>

            </div>
            <div class="ml-2 mt-2"><b>Filter</b>

            </div>
            <div style="width: 158px;height:40px;border-radius: 30px;border: 1px solid #D9D9D9;" class="ml-3">
                <input type="text"
                    style="height: 20px;width:158px position:relative;right:10px;position: relative;left: 10px;width: 320px;top: 8px;outline: none;width: 90%;border: none;"
                    placeholder="Vehicle Type">
            </div>

            <div style="width: 158px;height:40px;border-radius: 30px;border: 1px solid #D9D9D9;" class="ml-3">
                <input type="text"
                    style="height: 20px;width:158px position:relative;right:10px;position: relative;left: 10px;width: 320px;top: 8px;outline: none;width: 90%;border: none;"
                    placeholder="Badges:">
            </div>
            <div style="width: 158px;height:40px;border-radius: 30px;border: 1px solid #D9D9D9;" class="ml-3">
                <input type="text"
                    style="height: 20px;width:158px position:relative;right:10px;position: relative;left: 10px;width: 320px;top: 8px;outline: none;width: 90%;border: none;"
                    placeholder="Status:">
            </div>
        </div>
    </div>
    <div class="col-12 pr-3">
        <div class="d-flex justify-content-end">
            <b>Total 80 Partners</b>
        </div>
    </div>
    <div class="col-xl">

        <div class=" table-responsive text-nowrap mt-3">
            <table class="table table-striped table-hover w-100" id="example2">
                <thead>
                    <tr>
                        <th scope="col">Partner ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Mobile</th>
                        <th scope="col">Email</th>
                        <th scope="col">License Type</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>{{#each users}}
                    <tr>
                        <th scope="row">#{{_id}}</th>
                        <td>{{firstName}}</td>
                        <td>{{lastName}}</td>
                        <td>{{phoneNumber}}</td>
                        <td>{{email}}</td>
                        <td>{{licenseType}}</td>

                    </tr>
                    {{/each}}
                    <th scope="row">#{{_id}}</th>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td>{{phoneNumber}}</td>
                    <td>{{email}}</td>
                    <td>{{licenseType}}</td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>

{{/inline}}

{{/layout}}


